# Project output file
bin/
*test-*
jippi.config

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# KDevelop files
*.kdev4
*.cbp
*.user

# Eclipse filed
.cproject

# Temporary files
*swp

# Develop files 
*.kdev*

# Temporary files
*swp

# CMake files
CMakeFiles
CMakeCache.txt
Makefile
*install.cmake
