# Project output file
jippi

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# KDevelop files
*.kdev4

# Temporary files
*swp

# Develop files 
*.kdev4

# Temporary files
*swp

# CMake files
CMakeFiles
CMakeCache.txt
*.cmake
Makefile
